# Git
.git
.gitignore

# IDE
.vscode
.idea
.cursor

# Python
backend/venv/
backend/cache/
backend/__pycache__/
**/__pycache__/
*.pyc

# Node
frontend/node_modules/
frontend/dist/

# Terraform
terraform/.terraform/
terraform/*.tfstate*

# Docs
docs/

# OS
.DS_Store
